/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/.env
/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/node_modules
/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/build
/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/.DS_Store
/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/.vscode
/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/.idea
/home/panshul/Desktop/Documents/Lambda/glitchwebsite/frontend/dist